---
layout: default
title: Home
menu: main
info:
  office: Monroe Hall, Room 437
  availability: Tuesdays &amp; Thursdays after 9:30 AM
  currentsemester: Fall 2017
  currentcourses:
    -
      number: COSC A451
      section: "051"
      title: Software Engineering
      url: ./teaching/cosc-a451/2017f/
  whoami: |
      I'm a _software engineer_, _data scientist_,
      _data engineer_, and _educator_.

      I've worked in _large commercial_, _startup_,
      _academic_, _government_, and _not-for-profit_
      settings.

      I'm always excited to discuss new ideas or
      projects and to share my experiences.
  education:
    -
      type: Ph.D.
      year: (ABD/ unfinished)
      institution: University of Maryland at College Park
      subject: Applied Mathematics, Applied Statistics &amp; Scientific Computing
    -
      type: Cert.
      year: 2010
      institution: University of Maryland at College Park
      subject: Innovation Management (Non-Credit)
    -
      type: M.S.
      year: 2007
      institution: University of Maryland at College Park
      subject: Applied Mathematics &amp; Scientific Computing
    -
      type: Grad. Cert.
      year: 2007
      institution: University of Maryland at College Park
      subject: Computational Harmonic Analysis
    -
      type: Grad. Cert.
      year: 2007
      institution: University of Maryland at College Park
      subject: Scientific Computing
    -
      type: B.S.
      year: 2001
      institution: Loyola University New Orleans
      subject: Mathematics &amp; Computer Science
  work:
    -
      organization: Loyola University New Orleans
      position: Instructor in Computer Science
      startyear: 2017
      imageurl: http://omc.loyno.edu/sites/omc.loyno.edu/files/images/loyola-logo.gif
      url: https://www.loyno.edu/
    -
      organization: TED Conferences
      position: Data Engineer
      startyear: 2016
      imageurl: ./public/TED_logo_rgb.png
      url: https://www.ted.com/
    -
      organization: Kitchology Inc.
      position: Data Scientist &amp; Software Architect
      startyear: 2013
      imageurl: https://www.kitchology.com/assets/updated_logo_resized.png
      url: https://www.kitchology.com/
  volunteering:
    -
      organization: Loyola University New Orleans
      position: Research Associate Pro Bono
      startyear: 2016
      imageurl: http://omc.loyno.edu/sites/omc.loyno.edu/files/images/loyola-logo.gif
      url: https://www.loyno.edu/
    -
      organization: Code for New Orleans
      position: Brigade Captain &amp; Chief Data Wrangler
      startyear: 2016
      imageurl: https://codefornola.github.io/style_guide/assets/images/cfno-logo.png
      url: https://codeforneworleans.org/
    -
      organization: University of Maryland at College Park
      position: Research Affiliate, Norbert Wiener Center
      startyear: 2014
      imageurl: http://norbertwiener.umd.edu/NWC_logos/Color/ColorLogoBig.png
      url: https://norbertwiener.umd.edu/
      linkalt: Visit the homepage of the Norbert Wiener Center at the University of Maryland.
---

<div class="about-me">
  <img id="photo-main"
       src="./public/RyanTreesBreezer.png"
       alt="Picture of Ryan Harvey">
  <div class="finding-me">
    <img src="http://www.loyno.edu/img/svg/logo-loyola-horizontal.svg"
         alt="Loyola University New Orleans">
    <p>Department of Mathematics and Computer Science
       <br>
       {{ page.info.office }}</p>
    <p><strong>Availability</strong>: {{ page.info.availability }}
       <br>
       <strong>Email</strong>: <a href="mailto:rharvey@loyno.edu">rharvey@loyno.edu</a></p>
  </div>
</div>

{% for course in page.info.currentcourses %}
<a href="{{ course.url }}"  class="current-classes">
  {{ course.number }} {{ course.section }} - {{ course.title }} ({{ page.info.currentsemester }})
</a>
{% endfor %}

<div class="who-am-i">
  {{ page.info.whoami | markdownify }}
</div>

<h2>
  <div id="education-toggle" class="education-toggle section-toggle">
    <i id="education-switch" class="switch fa fa-toggle-off"></i>
    <span class="underlined">Education</span>
  </div>
</h2>
<div id="education" class="education collapsed">
  {% for degree in page.info.education %}
  <div class="degree">
    <div class="degree-info">
      <span class="degree-type">{{ degree.type }}</span>
      <span class="degree-year">{{ degree.year }}</span>
      <span class="degree-institution">{{ degree.institution }}</span>
    </div>
    <div class="degree-subject">{{ degree.subject }}</div>
  </div>
  {% endfor %}
</div>

<h2>
  <div id="work-toggle" class="work-toggle section-toggle">
    <i id="work-switch" class="switch fa fa-toggle-off"></i>
    <span class="underlined">Professional Activities</span>
  </div>
</h2>
<div id="work" class="work collapsed">
  {% for job in page.info.work %}
  <div class="job">
      <a href="{{ job.url }}" target="_blank"
        {% if job.linkalt != null %}
          alt="{{ job.linkalt }}">
        {% else %}
          alt="Visit the {{ job.organization }} homepage.">
        {% endif %}
         <img src="{{ job.imageurl }}"
             alt="{{ job.organization }}" class="job-logo">
      </a>
      <span class="job-position">{{ job.position }}</span>
      <span class="job-since">since {{ job.startyear }}</span>
    </div>
  {% endfor %}
</div>

<h2>
  <div id="volunteer-toggle" class="volunteer-toggle section-toggle">
    <i id="volunteer-switch" class="switch fa fa-toggle-off"></i>
    <span class="underlined">Volunteer Activities</span>
  </div>
</h2>
<div id="volunteer" class="volunteer collapsed">
    {% for job in page.info.volunteering %}
    <div class="job">
        <a href="{{ job.url }}" target="_blank"
           alt="Visit the {{ job.organization }} homepage.">
          <img src="{{ job.imageurl }}"
               alt="{{ job.organization }}" class="job-logo">
        </a>
        <span class="job-position">{{ job.position }}</span>
        <span class="job-since">since {{ job.startyear }}</span>
      </div>
    {% endfor %}
</div>

<script>
  function toggle_class(elt, class_string) {
    if (elt.classList) {
      elt.classList.toggle(class_string);
    } else {
      // For IE9
      var classes = elt.className.split(" ");
      var i = classes.indexOf(class_string);
        if (i >= 0)
          classes.splice(i, 1);
        else
          classes.push(class_string);
          elt.className = classes.join(" ");
    }
  }

  function toggle_switch(id) {
    var switch_i = document.getElementById(id);
    console.log(switch_i);
    toggle_class(switch_i, "fa-toggle-off");
    toggle_class(switch_i, "fa-toggle-on");
  }

  function toggle_education(ev) {
    var ed_div = document.getElementById("education");
    console.log(ed_div);
    toggle_class(ed_div, "collapsed");
    toggle_switch("education-switch");
  }

  function toggle_work(ev) {
    var wk_div = document.getElementById("work");
    console.log(wk_div);
    toggle_class(wk_div, "collapsed");
    toggle_switch("work-switch");
  }

  function toggle_volunteer(ev) {
    var wk_div = document.getElementById("volunteer");
    console.log(wk_div);
    toggle_class(wk_div, "collapsed");
    toggle_switch("volunteer-switch");
  }

  document.getElementById("education-toggle")
    .addEventListener("click", toggle_education);
  document.getElementById("work-toggle")
    .addEventListener("click", toggle_work);
  document.getElementById("volunteer-toggle")
    .addEventListener("click", toggle_volunteer);
</script>
