---
layout: default
title: Home
menu: main
info:
  office: Monroe Hall, Room 407 (not in office Fall 2021)
  availability: 
    times: by appointment
    url: https://bit.ly/mr-harvey-office-hours
  zoom: https://bit.ly/meet-mr-harvey
  currentsemester: Fall 2021
  currentcourses:
    -
      number: COSC-A499
      section: "(001)"
      title: "Independent Study: Open Source Software"
      url: "/teaching/cosc-a499-oss"
  whoami: |
      I'm a _software engineer_, _data scientist_,
      _data engineer_, and _educator_.

      I've worked in _large commercial_, _startup_,
      _academic_, _government_, and _not-for-profit_
      settings.

      I'm always excited to discuss new ideas or
      projects and to share my experiences.
  education:
    -
      type: Ph.D. Program (ABD/Unfinished)
      year: "&mdash;"
      institution: University of Maryland at College Park
      subject: Applied Mathematics, Applied Statistics &amp; Scientific Computing
    -
      type: Certificate (Non-credit)
      year: 2016
      institution: Johns Hopkins University (via Coursera)
      subject: Executive Data Science Specialization
    -
      type: Certificate (Executive Education)
      year: 2010
      institution: University of Maryland at College Park
      subject: Innovation Management (Non-Credit)
    -
      type: Master of Science
      year: 2007
      institution: University of Maryland at College Park
      subject: Applied Mathematics &amp; Scientific Computing
    -
      type: Graduate Certificate
      year: 2007
      institution: University of Maryland at College Park
      subject: Computational Harmonic Analysis
    -
      type: Graduate Certificate
      year: 2007
      institution: University of Maryland at College Park
      subject: Scientific Computing
    -
      type: Bachelor of Science
      year: 2001
      institution: Loyola University New Orleans
      subject: "Mathematics; Computer Science; minor: Japanese Studies"
  work:
    -
      organization: Healthify / WellSky
      position: Sr. Software Engineer
      startyear: 2021
      imageurl: ./public/healthify_logo.png
      url: https://www.healthify.us/
    -
      organization: Loyola University New Orleans
      position: Instructor in Computer Science
      startyear: 2017
      imageurl: http://omc.loyno.edu/sites/omc.loyno.edu/files/images/loyola-logo.gif
      url: https://www.loyno.edu/
    -
      organization: Kitchology Inc.
      position: Data Scientist &amp; Software Architect
      startyear: 2013
      imageurl: https://static.wixstatic.com/media/83a4ea_367395d85b6849afa07759b239a106c6~mv2.gif
      url: https://www.kitchology.com/
    -
      organization: TED Conferences
      position: Data Engineer / Sr. Backend Engineer
      startyear: 2016
      endyear: 2021
      imageurl: ./public/TED_logo_rgb.png
      url: https://www.ted.com/
  volunteering:
    -
      organization: The St. Charles Center for Faith + Action
      position: Board Member
      startyear: 2020
      imageurl: ./public/st-charles-center.png
      url: https://stcharlesave.center
    -
      organization: Loyola University New Orleans
      position: Research Associate Pro Bono
      startyear: 2016
      imageurl: http://omc.loyno.edu/sites/omc.loyno.edu/files/images/loyola-logo.gif
      url: https://www.loyno.edu/
    -
      organization: Code for New Orleans
      position: Brigade Captain &amp; Chief Data Wrangler
      startyear: 2016
      imageurl: https://codefornola.github.io/style_guide/assets/images/cfno-logo.png
      url: https://codeforneworleans.org/
    -
      organization: University of Maryland at College Park
      position: Research Affiliate, Norbert Wiener Center, UMCP
      startyear: 2014
      imageurl: http://norbertwiener.umd.edu/NWC_logos/Color/ColorLogoBig.png
      url: https://norbertwiener.umd.edu/
      linkalt: Visit the homepage of the Norbert Wiener Center at the University of Maryland.
---

<div class="about-me">
  <img id="photo-main"
       src="./public/RyanTreesBreezer.png"
       alt="Picture of Ryan Harvey">
  <div class="finding-me">
    <a href="http://loyno.edu/" target="_blank">
      <img src="http://www.loyno.edu/img/svg/logo-loyola-horizontal.svg"
      alt="Loyola University New Orleans">
   </a>
    <p>
      <a href="http://cas.loyno.edu/mathematics" target="_blank" alt="Visit the homepage of Loyola's Department of Mathematics and Computer Science">
        Department of Mathematics and Computer Science
      </a>
      <br>
      {{ page.info.office }}</p>
    <p><strong>Availability</strong>:
      <a href="{{ page.info.availability.url }}"
        target="_blank"
        alt="Schedule an appointment with Mr. Harvey during Office Hours">
        {{ page.info.availability.times }}
      </a>
      <br>
      <strong>Email</strong>: <a href="mailto:rharvey@loyno.edu">rharvey@loyno.edu</a></p>
  </div>
</div>

<div id="current-classes">
{% for course in page.info.currentcourses %}
{% if course.url %}
<a href="{{ site.baseurl }}/{{ course.url }}"  class="current-classes">
{% else %}
<div class="current-classes">
{% endif %}
  {% if course.number || course.section %}
    {{ course.number }} {{ course.section }} -
  {% endif %}
  {{ course.title }} ({{ page.info.currentsemester }})
{% if course.url %}
</a>
{% else %}
</div>
{% endif %}
{% endfor %}
</div>

<div class="who-am-i">
  {{ page.info.whoami | markdownify }}
</div>

<h2>
  <div id="education-toggle" class="education-toggle section-toggle">
    <i id="education-switch" class="switch fa fa-toggle-off"></i>
    <span class="underlined">Education</span>
  </div>
</h2>
<div id="education" class="education collapsed">
  {% for degree in page.info.education %}
  <div class="degree">
    <div class="degree-info">
      <span class="degree-type">{{ degree.type }}</span>
      <span class="degree-subject">{{ degree.subject }}</span>
    </div>
    <div class="degree-info">
      <span class="degree-institution">{{ degree.institution }}</span>
      <span class="degree-year">{{ degree.year }}</span>
    </div>
  </div>
  {% endfor %}
</div>

<h2>
  <div id="work-toggle" class="work-toggle section-toggle">
    <i id="work-switch" class="switch fa fa-toggle-off"></i>
    <span class="underlined">Professional Activities</span>
  </div>
</h2>
<div id="work" class="work collapsed">
  {% for job in page.info.work %}
  <div class="job">
      <a href="{{ job.url }}" target="_blank"
        {% if job.linkalt != null %}
          alt="{{ job.linkalt }}">
        {% else %}
          alt="Visit the {{ job.organization }} homepage.">
        {% endif %}
         <img src="{{ job.imageurl }}"
             alt="{{ job.organization }}" class="job-logo">
      </a>
      <span class="job-position">{{ job.position }}</span>
      {% if job.endyear == null %}
        <span class="job-since">since {{ job.startyear }}</span>
      {% else %}
        <span class="job-since">{{ job.startyear }} - {{ job.endyear }}</span>
      {% endif %}
    </div>
  {% endfor %}
</div>

<h2>
  <div id="volunteer-toggle" class="volunteer-toggle section-toggle">
    <i id="volunteer-switch" class="switch fa fa-toggle-off"></i>
    <span class="underlined">Volunteer Activities</span>
  </div>
</h2>
<div id="volunteer" class="volunteer collapsed">
    {% for job in page.info.volunteering %}
    <div class="job">
        <a href="{{ job.url }}" target="_blank"
           alt="Visit the {{ job.organization }} homepage.">
          <img src="{{ job.imageurl }}"
               alt="{{ job.organization }}" class="job-logo">
        </a>
        <span class="job-position">{{ job.position }}</span>
        <span class="job-since">since {{ job.startyear }}</span>
      </div>
    {% endfor %}
</div>

<script>
  function toggle_class(elt, class_string) {
    if (elt.classList) {
      elt.classList.toggle(class_string);
    } else {
      // For IE9
      var classes = elt.className.split(" ");
      var i = classes.indexOf(class_string);
        if (i >= 0)
          classes.splice(i, 1);
        else
          classes.push(class_string);
          elt.className = classes.join(" ");
    }
  }

  function toggle_switch(id) {
    var switch_i = document.getElementById(id);
    console.log(switch_i);
    toggle_class(switch_i, "fa-toggle-off");
    toggle_class(switch_i, "fa-toggle-on");
  }

  function toggle_education(ev) {
    var ed_div = document.getElementById("education");
    console.log(ed_div);
    toggle_class(ed_div, "collapsed");
    toggle_switch("education-switch");
  }

  function toggle_work(ev) {
    var wk_div = document.getElementById("work");
    console.log(wk_div);
    toggle_class(wk_div, "collapsed");
    toggle_switch("work-switch");
  }

  function toggle_volunteer(ev) {
    var wk_div = document.getElementById("volunteer");
    console.log(wk_div);
    toggle_class(wk_div, "collapsed");
    toggle_switch("volunteer-switch");
  }

  document.getElementById("education-toggle")
    .addEventListener("click", toggle_education);
  document.getElementById("work-toggle")
    .addEventListener("click", toggle_work);
  document.getElementById("volunteer-toggle")
    .addEventListener("click", toggle_volunteer);
</script>
