<h2>
    👨🏻‍🏫 INSTRUCTOR: Mr. Ryan B. Harvey
    <a class="toplink" href="#title" alt="go to top">🔝</a>
  </h2>
  <table>
    <thead>
      <tr>
        <th style='text-align:left;'>Location</th>
        <th style='text-align:left;'>Contact Info</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:left;'>🏫 <strong>Office</strong>: Not on campus Fall 2023</td>
        <td style='text-align:left;'>📞 <strong>Phone</strong>: 301-613-9130</td>
      </tr>
      <tr>
        <td style='text-align:left;'>🕟 <strong>Office Hours</strong>: <a href="https://bit.ly/mr-harvey-office-hours">By appointment</a></td>
        <td style='text-align:left;'>✉️ <strong>Email</strong>: <a href='mailto:rharvey@loyno.edu' target='_blank'>rharvey@loyno.edu</a></td>
      </tr>
    </tbody>
  </table>
