<a name='policies' class='md-header-anchor '></a>
<h2>
  📜 GENERAL POLICIES
  <span class="right toplink"><a href="#title" alt="go to top">🔝</a></span>
</h2>
<h3><a name='header-n1148' class='md-header-anchor '></a>Attendance</h3>
<p>This is a course about being a professional. In order to do a professional job, you first have to be present. As such, attendance is required.</p>
<p>If there is a reason you must be absent, please arrange with the instructor in advance. Any absence not arranged with the instructor and approved in advance will result in a loss of the daily classtime participation grade. (See grading policy above.)</p>
<p>Please come to class on time and remain until class is dismissed.</p>
<h3><a name='header-n1155' class='md-header-anchor '></a>Cell Phones</h3>
<p>Cell phones must be turned off during class.</p>
<h3><a name='header-n1158' class='md-header-anchor '></a>Email</h3>
<p>Students must check their Loyola email daily.</p>
{% if page.syllabus.class_chat.include %}
<h3><a name='header-n1161' class='md-header-anchor '></a>Class Chat</h3>
{% if page.syllabus.class_chat.policy != null %}
{{ page.syllabus.class_chat.policy }}
{% else %}
<p>During this course, much of your project work will be orchestrated outside of class periods using the class chat service. You will be expected to actively participate in that chat throughout the course of the project.</p>
{% endif %}
{% endif %}
<h3><a name='header-n1164' class='md-header-anchor '></a>Late Work</h3>
<p>As a professional, if you miss a deadline, there are consequences.</p>
<h4><a name='header-n1167' class='md-header-anchor '></a>Course Project</h4>
<p>For major course projects, you should treat the instructor as your management. In many cases, with early notice of a delay in completion of work, project schedules can be adjusted to accomodate the delay. Managers who learn of a delay at or just before
  the deadline tend to perceive the employee as irresponsible, and may formally reprimand or even remove the employee from the project.</p>
<p>Notify the instructor as soon as you are aware of a delay in completion of project work, and you will have an opportunity to negotiate a new deadline, if possible. Please be aware that dependencies in subsquent deadlines in the project schedule may prevent such an accomodation.</p>
<h4><a name='header-n1172' class='md-header-anchor '></a>Other Deadlines</h4>
<p>For all other classroom activities, late work will not be accepted, subject to the exceptions below.</p>
<h4><a name='header-n1175' class='md-header-anchor '></a>Excused Absence Policy and Documentation Requirement</h4>
<p>The only exceptions to this classroom policy are for absences which fall under the University Excused Absence policy.</p>
<p>Under that policy, excused absences require written documentation. Excused Absences due to illness have to be documented through the Office of Student Affairs or the Office of Disability Services.</p>
<p>Failure to appropriately document such absences will result in zero points received for the assignments due during that class period, and for the daily participation grade.</p>
<h3><a name='header-n1182' class='md-header-anchor '></a>Academic Integrity, Cheating and Plagiarism</h3>
<p>In a professional setting, there are significant consequences for dishonesty and lack of integrity, including legal consequences, market reaction, and employer discipline or termination of employment.</p>
<p>As your instructor for this course, I have gone out of my way to ensure that you have a great opportunity to learn the course material in both theoretical and concrete ways. Your part in this learning effort is to do your own original work and give appropriate
  credit for legitimate help you have received.</p>
<p>In keeping with this, students are expected to maintain the highest standards of academic and professional integrity. Behavior that violates these standards is not acceptable.</p>
<p>Some examples of unacceptable behavior in this course are:</p>
<ul>
  <li>unauthorized or unattributed use of material you did not create or do not have the right to claim as your own (per U.S. Copyright Law)</li>
  <li>communication with fellow students during any assignment, quiz or test that is not explicitly identified by the instructor as group work</li>
  <li>attempting to benefit from the work of another student, including submitting the work of another student as your own</li>
  <li>reusing work from a previous semester, even work you completed on your own</li>
  <li>similar behavior that defeats the learning intent of any work assigned for this class, including assessments</li>
</ul>
<p>Cheating on quizzes or examinations, plagiarism, improper acknowledgment of sources in essays, and the use of a single essay or paper in more than one course without permission are considered very serious offenses and shall be grounds for disciplinary
  action as outlined in the current bulletin. Agreement between the student and the faculty member that a violation has occurred, or no response from the student, will result in the assignment of a lower grade or an F to the test or assignment, or
  in the case of a serious violation, a lower grade or F for the course.</p>
<p><strong>Dishonesty breaks trust, and will be taken very seriously.</strong></p>
<p><strong>In this course, if I suspect you are in violation of the University policy on Academic Honesty and Plagiarism in any way, whether on required assignments, exams, project work, extra credit assignments, or anything else related to this course, I will impose the highest penalty allowed.</strong></p>
<ul>
  <li>If you remain in the course, you will not be eligible for any bonus or extra credit points on any grade remaining in the course, including the final grade.</li>
  <li>Any extra credit points previously earned will be removed.</li>
  <li>Because you have broken trust, I will be forced to reevaluate all other assignments to determine if I may have missed a possible violation. Appropriate action will be taken on every instance in which I suspect you of violating the University’s policy on Academic Honesty and Plagiarism.</li>
</ul>
<p>For your benefit, the University policy on Academic Honesty and Plagiarism is available in the 2017 University Bulletin at <a href='http://2017bulletin.loyno.edu/academic-regulations/academic-honesty-and-plagiarism' target='_blank'>http://2017bulletin.loyno.edu/academic-regulations/academic-honesty-and-plagiarism</a>,
  including procedures associated with processing violations of the policy. Please read it and be familiar with it, as you will be responsible for ensuring your own compliance with it.</p>
<h3><a name='header-n1225' class='md-header-anchor '></a>Participation/Behavior expected in class</h3>
<p>Please maintain an atmosphere of respect toward others.</p>
<h3><a name='header-n1228' class='md-header-anchor '></a>University closure</h3>
<p>At times, ordinary university operations are interrupted as a result of tropical storms, hurricanes, or other emergencies that require evacuation or suspension of on-campus activities. <strong>To prepare for such emergencies, all students will do the following during the first week of classes:</strong></p>
<ol
  start=''>
  <li>
    <p>Practice signing on for each course through Blackboard.</p>
  </li>
  <li>
    <p>Provide regular and alternative e-mail address and phone contact information to each instructor.</p>
  </li>
</ol>
<p><strong>In the event of an interruption to our course due to the result of an emergency requiring an evacuation or suspension of campus activities, students will:</strong></p>
<p>
  <ol start="3">
    <li>Pack textbooks, assignments, syllabi and any other needed materials for each course ad bring during an evacuation/suspension.</li>
    <li>Keep up with course work during the evacuation/suspension as specified on course syllabi and on-line Blackboard courses.</li>
    <li>Complete any reading and/or writing assignments given by professors before emergency began.</li>
  </ol>
</p>
<p> <strong>Assuming a power source is available....</strong></p>
<p>
  <ol start="6">
    <li>Log on to university Web site within 48 hours of an evacuation/suspension.</li>
    <li>Monitor the main university site (<a href='www.loyno.edu' target='_blank'>www.loyno.edu</a>) for general information.</li>
    <li>Log on to each course through Blackboard or e-mail within 48 hours of an evacuation/suspension to receive further information regarding contacting course instructors for assignments, etc.</li>
    <li>Complete Blackboard and/or other online assignments posted by professors (students are required to turn in assignments on time during the evacuation/suspension period and once the university campus has reopened.)</li>
    <li>Contact professors during an evacuation/suspension (or as soon as classes resume on campus) to explain any emergency circumstances that may have prevented them from completing expected work.</li>
  </ol>
</p>
<p>Further information about student responsibilities in emergencies is available on the Academic Affairs web site: <a href='http://academicaffairs.loyno.edu/students-emergency-responsibilities.' target='_blank'>http://academicaffairs.loyno.edu/students-emergency-responsibilities.</a></p>
<h3><a name='header-n1258' class='md-header-anchor '></a>Disability Services and Accommodations</h3>
<p>If you have a disability and wish to receive accommodations, please visit the Student Success Office in Marquette Hall 112 or email <a href='mailto:success@loyno.edu' target='_blank'>success@loyno.edu</a> or call (504) 865-2990. Please note that
  before any accommodations can be implemented, you must obtain an official Course Accommodation Record from Disability Services for my signature.</p>
